# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../complete-tensorflow-2-and-keras-deep-learning-bootcamp\.idea/codestream.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
